<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/my.css' />
  <script type="text/javascript">
    var page = <%= page %>;
    var size = <%= size %>;
    var total = <%= total %>;
    window.onload = () => {
      var next = document.getElementById("next");
      next.onclick = () => {
        if (total < (page + 1) * size) {
            alert("마지막 페이지입니다.")
        } else {
          location.href = '?page=' + (page + 1) + '&size=' + size + '&order=' + order;
        }
      }
      var back = document.getElementById("back")
      back.onclick = () => {
        if (page == 0) {
          alert("첫 페이지입니다.")
        } else {
          location.href = '?page=' + (page - 1) + '&size=' + size;
        }
      }
      var hdlogin = document.getElementById("hdlogin")
      var hdlogout = document.getElementById("hdlogout")
      hdlogout.onclick = () => {
          hdlogout.style.display = "none";
          hdlogin.style.display = "block";
      }
    };
  </script>
</head>

<body>
  <div class="wrap">
    <div class="header">
      <div class="cover">
        <div class="headercnt">
          <div class="leftheader">
            <a href="http://localhost:3000/"><span>MovieTalkRoom</span></a>
          </div>
          <div class="rightheader">
            <button class="headerloginbtn" onclick="location.href='//localhost:3000/login'" id="hdlogin">로그인</button>
            <button class="headerlogoutbtn" id="hdlogout">로그아웃</button>
          </div>
        </div>
      </div>
    </div>
    <div class="contentcover">
      <div class="bgimg">
      </div>
      <div class="maincover">
        <div class="listcv">
          <div class="list">
            <div class="listheader">
              <button class="listloginbtn" onclick="location.href='//localhost:3000/login'">로그인</button>
              <div class="user_info">
                <div class="info_wrap">
                    <span class="user_nick">김마둠</span>님 환영합니다.
                    <span class="listlogoutbtn">
                        <button class="logoutbtn" id="logoutbtn">로그아웃</button>
                    </span>
                </div>
                <div class="usermenu_wrap">
                    <div class="user_word"><a>글목록</a></div>
                    <div class="user_modifying"><a href="http://localhost:3000/modifying">회원정보수정</a></div>
                </div>
              </div>
            </div>
            <div class="listmenucv">
              <div class="listmenu">
                <div class="mainboard">
                  <div class="mainbdtitle">
                    홈
                  </div>
                  <a href="http://localhost:3000/movies">전체 게시물</a>
                </div>
                <a href="http://localhost:3000/movies/review">리뷰</a>
                <a href="http://localhost:3000/movies/discuss">토론</a>
                <a href="http://localhost:3000/movies/free">자유</a>
                <a href="http://localhost:3000/movies/kor">한국 영화</a>
                <a href="http://localhost:3000/movies/chn">중국 영화</a>
                <a href="http://localhost:3000/movies/jap">일본 영화</a>
                <a href="http://localhost:3000/movies/USA">미국 영화</a>
                <a href="http://localhost:3000/movies/others">기타 외화</a>
              </div>
            </div>
          </div>
        </div>
        <div class="subcv">
          <div class="subheader">
            <div class="sbhdinfo">
              <h2 class="sbhdtitle">
                <a href="#">전체 게시물</a>
              </h2>
            </div>
            <div class="submenu">
              <ul class="submnlink">
                <li><span><a href>조회순</a></span></li>
                <li><span><a href>추천순</a></span></li>
                <li><span><a href>댓글순</a></span></li>
                </li>
              </ul>
              <div class="sbhdsearch">
                <form action="">
                  <label style="padding: 0;">
                    <select name="target" class="selectsearch">
                      <option value="title">제목</option>
                      <option value="user_id">작성자</option>
                    </select>
                  </label>
                  <input type="text" name="search" class="inputsearch" placeholder="검색">
                </form>
              </div>
            </div>
          </div>
          <section class="articlelist">
            <div class="article-hover">
              <% for(var i=0; i < list.length; i++) { %>
              <article class="article-list-item">
                <div class="article-list-bdname">
                  <%= list[i].type %>
                </div>
                <div class="article-list-cnt">
                  <div class="article-list-titlecv">
                    <a href="#">
                      <div class="article-list-title">
                        <span><%= list[i].contentTitle %></span>
                        <em>[<%= list[i].commentCount %>]</em>
                      </div>
                    </a>
                  </div>
                  <div class="writer">
                    <a href="#"><%= list[i].author %></a>
                  </div>
                  <div class="article-list-date">
                    <span><%= list[i].date %></span>
                  </div>
                  <div class="article-list-vote">
                    <span>△</span>
                    <span><%= list[i].voteCount %></span>
                  </div>
                </div>
              </article>
              <% } %>
            </div>
            <section class="article-list-paging">
              <div class="article-list-pagingcnt">
                <table class="article-list-paginglist">
                  <tr>
                    <td class="paging-writingbtn"><a href="//localhost:3000/write" class="a-btn">글쓰기</a></td>
                    <td class="paging-void"></td>
                    <td class="paging-listbtn"><a id="back" class="a-btn">☜ 이전</a></td>
                    <td class="paging-listbtn"><a id="next" class="a-btn">다음 ☞</a></td>
                  </tr>
                </table>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>
</body>
</html>